@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

head, body, button, a{
    font-size:20px;
}

.defaultBtn{
    color: #3F51B5;
    background: #E3F2FD;
    border: none;
    border: 1px solid rgba(63, 81, 181, 0.22);
    border-radius: 32px;
    padding: 12px 16px 10px;
    font-weight: 700;
}

.hide{
    display: none;
}

.layout{
    margin-top: 32px;
}

.alert{
    z-index: 9999;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    display: grid;
    justify-items: center;
    background: rgba(0,0,0,0.4) ;

    & .alertBody{
        width: 20vw;
        min-width: 400px;
        background: #fff;
        margin: auto 0;
        border-radius: 12px;
        padding: 16px;
        position: relative;
    }

    & .alertBody{
        button{
            width: 100%;
            border-radius: 4px;
            padding: 6px 10px;
            border: none;

            &.cancel{
                background: #e0e1e2;
                border-width: 1px;

                &:hover{
                    background: #d0d1d2;
                }
            }
        }

        form{
            display: grid;
            margin-bottom: 6px;

            input{
                border: 1px solid #999!important;

            }

            button{
                background: #3F51B5!important;
                color:#fff;

                &:hover{
                    background: #2F41A5!important;
                    color:#fff!important;
                }
            }
        }

    }
}

.alertTitle{
    text-align: center;
}

.greenText{
    color:#4CAF50;
}
.redText{
    color:#F44336;
}

.main{
    width: 100%;
    min-height: 100vh;
    margin-top: 104px;
}