$plusBtn: 60px;
$infoDiv: 128px;

.listBox{
    border-radius: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 24px;
}

.listArea{
    background: #DEF0FE;
    font-weight: 700;
}

.listInfoBlock{
    display: grid;
    grid-template-columns: 128px 1fr 30px;
    width: 100%;
    &>img{
        width: 128px;
        height: 128px;
        border-radius: 16px;
    }

    &>div.listInfoBlockSB{
        margin-left:32px;

        display: grid;
        grid-column-gap: 16px;
        grid-template-columns: 128px 152px 128px;
        grid-auto-rows: 1fr 1fr;
        &>h2{
            grid-column: 1/4;
        }
        &>*{
            display: block;
        }

        & .editBtn{
            color: #3F51B5;
            border: none;
            border-radius: 32px;
            padding: 12px 16px 10px;
            width: 100%;
            height: 46px;
            font-weight: 700;

            &.deleteBtn, &.createShow{
                height: 68px;
            }

            &.deleteBtn{
                color: #d04040;
            }
            &.createShow{
                color: #75c811;
            }
        }
    }
}

.adminCompany{
    margin: auto;
    width: 86vw;
    background-color: #fff;

    border: 1px solid rgba(63, 81, 181, 0.15);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.09);
    border-radius: 16px;

    display: grid;

    & .createComplex{
        margin-top: 8px;
        &>button{
            padding: 24px;
            width: 100%;
            background: inherit;
            border: none;
            border-radius: inherit;
        }
    }

    & .hideListBtn{
        width: 30px;
        height: 30px;
        background: inherit;
        border: none;
        padding: 0;

        &:hover{
            background: #C8D8E8;
            border-radius: 4px;
        }
        &:active{
            background: #C0D0E0;
        }
        &>img{
            width: inherit;
            height: inherit;

            &.show{
                transform: rotate(-180deg);
            }
        }
    }

    /*& .create{
        &>.createShow{
            height: 80%;
            width: 80%;
            margin: auto;
        }
        &>.createCancel{

        }
    }*/

    & .adminResidentialComplex{
        display: grid;
        background-color: #DEF0FE;
        border: 1px solid rgba(0, 34, 255, 0.3);
        border-radius: 16px;

        & .editBtn{
            background: #fff;
        }

        & .adminHouse{
            display: grid;
            background-color: #fff;
            border: 1px solid rgba(63, 81, 181, 0.15);
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.09);
            border-radius: 16px;

            & .editBtn{
                background: #E3F2FD;
            }
            & .deleteBtn{
                background: #ffEEEE;
            }
            & .createShow{
                background: #EBFFEB;
            }

            & .adminRealties{
                display: grid;
                background-color: #DEF0FE;
                border: 1px solid rgba(0, 34, 255, 0.3);
                border-radius: 16px;

                & .editBtn{
                    background: #fff;
                }
            }
        }
    }
}