$plusBtn: 60px;
$infoDiv: 128px;

.listBox{
    border-radius: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.listArea{
    background: #E1F0FA;
}

.listInfoBlock{
    display: grid;
    grid-row-gap: 2px;
    justify-items: center;
    & img{
        width: 120px;
        height: 120px;
    }
}

.adminCompany{
    margin: auto;
    width: 86vw;
    background-color: #fff;

    display: grid;
    grid-template-columns: $infoDiv 4fr $plusBtn;

    & .create{
        &>.createShow{
            height: 80%;
            width: 80%;
            margin: auto;
        }
        &>.createCancel{

        }
    }

    & .adminResidentialComplex{
        display: grid;
        grid-template-columns: $infoDiv 4fr $plusBtn $plusBtn;
        background-color: #bbb;

        & .adminHouse{
            display: grid;
            grid-template-columns: $infoDiv 4fr $plusBtn $plusBtn;
            background-color: #888;

            & .adminRealties{
                display: grid;
                grid-template-columns: 4fr $plusBtn;
                background-color: #fff;
            }
        }
    }
}