#navbar{
    position: fixed;
    height: 72px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(63, 81, 181, 0.15);
    top: 0;
    &>.navbarBox{
        padding: 5px 128px;
        align-items: center;
        display: grid;
        grid-template-columns: 105px 2fr 308px;
        grid-column-gap: 48px;

        &>.userArea{
            display: grid;
            grid-template-columns: 128px 128px 52px;

            &>button{
                padding: 0;
                background: inherit;
                color: inherit;
            }

            & .profileMenu{
                position: fixed;
                width: 120px;
                border: 1px solid #0015;
                border-radius: 4px;
                padding: 4px 6px;

                &>a{
                    border: 1px solid #0012;
                    display: block;
                    background: white;
                    width: 100%;
                    height: 40px;
                }
            }

            & .profileIcon{
                margin: auto;
                height: 52px;
                width: 52px;
                border-radius: 32px;
            }
        }

    }
}