.realtiesListBlock{
    background: #E3F3FF;
    padding: 32px 124px;

    &>.realtiesList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;

        &>div {
            background: white;
            padding: 32px;
            border: 1px solid rgba(63, 81, 181, 0.15);
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
            border-radius: 16px;

            display: grid;
            grid-template-columns: 128px 1fr;
            grid-column-gap: 32px;

            & h3{
                margin-top: 0;
            }
            &>img{
                width: 128px;
                height: 128px;
                border-radius: 16px;
            }
        }

    }
}